# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
/kelvin_ntc.X/build/Relocated/
/kelvin_ntc.X/build/Debug/
/kelvin_ntc.X/build/Debug_2580/
/kelvin_ntc.X/build/Debug_26K80/
/kelvin_ntc.X/build/Release/
/kelvin_ntc.X/build/Relocated_2580/
/kelvin_ntc.X/dist/Debug/
/kelvin_ntc.X/dist/Debug_2580/
/kelvin_ntc.X/dist/Debug_26K80/
/kelvin_ntc.X/dist/Relocated/
/kelvin_ntc.X/dist/Relocated_2580/
/kelvin_ntc.X/dist/default/
/kelvin_1wire.X/build/Debug/
/kelvin_1wire.X/build/Release/
/kelvin_1wire.X/build/Relocated/
/kelvin_1wire.X/dist/Debug/
/kelvin_1wire.X/dist/Relocated/
/kelvin_1wire.X/dist/default/
/kelvin_1wire.X/nbproject/private/
/kelvin_1wire.X/dist/Relocated_2580/
/kelvin_1wire.X/html
*.b##
*.s##
*.p1
*.pro
*.b#1
*.b#2
*.b#3
*.b#4
*.b#5
*.b#6
*.b#7
*.b#8
*.b#9
*.s#1
*.s#2
*.s#3
*.s#4
*.s#5
*.s#6
*.s#7
*.s#8
*.s#9
